body {
  scrollbar-width: none;
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif; }

nav a, b {
  color: #ffff;
  display: inline;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 1.5rem;
  background: red;
  background: linear-gradient(90deg, red 2%, #df0000 25%, #610101 93%);
  background-size: cover;
  height: 8rem; }
  .header .logo {
    height: 8.5rem; }
  .header nav {
    padding: 2.5rem; }
    .header nav a:hover {
      color: black; }

.fondo {
  background-image: url("../img/imgFondo.jpg");
  height: 29rem;
  background-size: cover;
  padding: 1rem; }

.franja {
  background-color: black;
  height: 1rem; }

.ns {
  background-color: black;
  width: 99%;
  color: #ffff;
  padding: 0.5rem;
  height: 3rem;
  display: inline-block;
  align-items: center;
  font-size: 2rem;
  margin: 0%; }

.icon {
  height: 20rem;
  margin: 1rem;
  display: flex;
  justify-items: center;
  align-items: center; }

#icon, #icon2 {
  width: 80%;
  padding: 0.2rem;
  border-radius: 1.5rem;
  background-color: black; }

#icon2 {
  width: 15%;
  margin: 0.5rem;
  margin-left: 1rem; }

.footer {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  background: red;
  background: linear-gradient(90deg, #610101 0%, red 25%, red 75%, #610101 100%);
  background-size: cover;
  padding: 1rem;
  padding-right: 3rem; }

.contacto {
  color: #ffff;
  background-color: black;
  width: 25%;
  height: 20rem;
  border-radius: 10px;
  margin-left: 25%;
  margin: 15px 15px;
  padding: 15px;
  left: 350px;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem; }

.objetivo {
  font-family: arial black;
  margin: 0.5rem;
  margin-left: 1rem; }

hr {
  border-color: #ffff;
  border-width: 1px;
  width: 100%; }

.imgf {
  width: 100%; }
