@charset "UTF-8";
/* utilidades = variables */
* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif; }

/* base= reset, tipografias */
/* view = codigo particionado de cada seccion o page/view */
.navbar {
  width: 100%;
  background: red;
  background: linear-gradient(90deg, red 2%, #df0000 25%, #610101 93%); }
  .navbar img {
    width: 6rem;
    height: 6rem; }
  .navbar img:hover {
    height: 7rem;
    width: 7rem; }
  .navbar a {
    color: #ffff;
    display: inline;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.3rem; }
  .navbar :hover {
    color: black; }

footer {
  background: red;
  background: linear-gradient(90deg, #610101 0%, red 25%, red 75%, #610101 100%);
  padding: 1rem;
  padding-right: 3rem;
  border-radius: none; }
  footer nav a, footer b, footer .p {
    color: #ffff;
    display: inline;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.3rem; }
  @media only screen and (max-width: 768px) {
    footer .ulfooter {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    footer b {
      display: none; } }

.contacto {
  display: flex;
  justify-content: center; }
  .contacto iframe {
    padding: 1rem;
    width: 60%;
    height: 42rem;
    border-radius: 5px;
    border-color: black; }
  .contacto hr {
    border-color: white;
    border-width: 0.2rem;
    width: 100%;
    border-style: double; }
  .contacto form {
    color: #ffff;
    background-color: black;
    width: 40%;
    height: 40rem;
    border-radius: 10px;
    margin-left: 25%;
    margin: 15px 15px;
    padding: 15px;
    left: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5rem; }
  @media only screen and (max-width: 768px) {
    .contacto {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .contacto iframe {
        width: 100%; }
      .contacto form {
        width: 96%; } }

.nosotros {
  margin-top: 1rem;
  display: flex;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  .nosotros .textp {
    padding: 1rem; }
  .nosotros h1, .nosotros h2 {
    background-color: black;
    color: #ffff;
    padding: 0.5rem;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem; }
  @media only screen and (max-width: 768px) {
    .nosotros {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.fondo__index {
  background-image: url("../img/imgfondo.jpg");
  height: 29rem;
  background-size: cover;
  padding: 1rem; }
  .fondo__index .titulo {
    width: 75%; }

.imgf {
  height: 29rem;
  background-size: cover;
  position: center; }

.a_a {
  background-image: url("../img/aireacondicionado.jpg"); }

.alba {
  background-image: url("../img/alba.jpg"); }

.calefaccion {
  background-image: url("../img/calefaccion.png"); }

.electricidad {
  background-image: url("../img/electricidad.jpg"); }

.equipos {
  background-image: url("../img/equipos.jpg"); }

.gasista {
  background-image: url("../img/gasista.jpg"); }

.herreria {
  background-image: url("../img/hereria.jpg"); }

.humedad {
  background-image: url("../img/humedad.jpg"); }

.membranas {
  background-image: url("../img/membranas.png"); }

.parquets {
  background-image: url("../img/parquet.jpg"); }

.pintura {
  background-image: url("../img/pintureria.jpg"); }

.pintureriaObra {
  background-image: url("../img/pinturadeobra.jpg"); }

.plomeria {
  background-image: url("../img/plomería.jpg"); }

.porcyceramic {
  background-image: url("../img/porcelanatoyceramica.jpg"); }

.tanquesdeagua {
  background-image: url("../img/tanquesdeagua.jpg"); }

.franja {
  background-color: black;
  height: 1rem; }

.atras {
  background-color: black;
  color: #ffff;
  display: flex;
  justify-content: space-between; }
  .atras .mas {
    color: #ffff;
    text-decoration: none;
    position: relative; }

.btn-black:hover {
  color: white; }

.serv {
  height: 29rem;
  background-size: cover; }

.descrip {
  margin-top: 1rem; }

.section {
  padding: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .section a {
    padding: 1rem; }
  .section :hover {
    padding: 1.5rem; }
  .section .icon {
    background-color: black;
    border-radius: 2rem;
    background-size: cover;
    padding: 1rem; }
  @media only screen and (max-width: 768px) {
    .section {
      display: flex;
      justify-content: center; }
      .section a:hover {
        padding: 1rem; } }
  .section .atras {
    background-color: black;
    color: #ffff;
    display: flex;
    justify-content: space-between; }
    .section .atras .mas {
      color: #ffff;
      text-decoration: none;
      position: relative; }
  .section .btn-black:hover {
    color: white; }

/* .ns{
    background-color: $color_secundario;
    width: 100%;
    color: $color_letras1;
    padding: 0.5rem;
    height: 3rem;
	display: inline-block;
    align-items: center;
    font-size: 2rem;
    margin: 0%;
} */
