
@import "utilities/variables";/* utilidades = variables */
@import "base/reset";/* base= reset, tipografias */
/* view = codigo particionado de cada seccion o page/view */
@import "components/header";
@import "components/footer";
@import "components/contactos";
@import "components/nosotros";
@import "components/imagenfondo";
@import "components/elements";
@import "components/section";

/* .ns{
    background-color: $color_secundario;
    width: 100%;
    color: $color_letras1;
    padding: 0.5rem;
    height: 3rem;
	display: inline-block;
    align-items: center;
    font-size: 2rem;
    margin: 0%;
} */


