@import "variables";
body{
    scrollbar-width: none;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
header, .navbar{
    width: 100%;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 2%, rgba(223,0,0,1) 25%, rgba(97,1,1,1) 93%);
}
.logo{
    height: 8.5rem;
    margin: 0.5rem; 
}
.navbar a,nav a,b,h5,.p{
    color: #ffff;
    display: inline;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none; 
    padding: 0.3rem;
}
.navbar a:hover{
    color: black;
}
.franja{
    background-color: black;
    height: 1rem;
}
.fondo{
    background-image: url("../img/imgFondo.jpg");
    height: 29rem;
    background-size: cover; 
    padding: 1rem;
}
.ns{
    background-color: black;
    width: 100%;
    color: #ffff;
    padding: 0.5rem;
    height: 3rem;
	display: inline-block;
    align-items: center;
    font-size: 2rem;
    margin: 0%;
}
.icon{
    height: 20rem;
    margin: 1rem;
    display: flex;
    justify-items: center;
    align-items: center;
}
#icon{
    width: 80%;
    padding: 0.2rem;
    border-radius: 1.5rem;
    background-color: black;
}

.icon2{
    background-color: black;
    border-radius: 1rem;
    width: 15%;
    height: 15%;
    background-size: cover;
    padding: 0.5rem;
}

.section a{
    padding: 2rem;
    padding-top: 2rem;
}
footer{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(97,1,1,1) 0%, rgba(255,0,0,1) 25%, rgba(255,0,0,1) 75%, rgba(97,1,1,1) 100%);
    padding: 1rem;
    padding-right: 3rem;
    border-radius: none;
}
form{
    color: #ffff;
    background-color: rgb(0, 0, 0);
    width: 40%;
    height: 40rem;
    border-radius: 10px;
    margin-left: 25%;
    margin: 15px 15px;
    padding: 15px;
    left: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5rem;
}
.objetivo{
    font-family: arial black;
    margin: 0.5rem;
    margin-left: 1rem;
}
hr{
    border-color: #ffff;
    border-width: 1px;
    width: 100%;
}
.contacto{
    display: flex;
    justify-content: center;
}
.imgf{
    height: 29rem;
    background-size: cover;
}
.serv{
    height: 29rem;
    background-size: cover; 
    padding: 1rem;
}
@media only screen and (max-width: 776px){    
}