@import "variables";
body{
    scrollbar-width: none;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

nav a,b{
    color: #ffff;
    display: inline;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none; 
    padding: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1.5rem;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 2%, rgba(223,0,0,1) 25%, rgba(97,1,1,1) 93%);
    background-size: cover; 
    height: 8rem;
    & .logo{
        height: 8.5rem;  
    }
    & nav{
        padding: 2.5rem;
        a:hover{
            color: black;
        }
    }
}
.fondo{
    background-image: url("../img/imgFondo.jpg");
    height: 29rem;
    background-size: cover; 
    padding: 1rem;
}
.franja{
    background-color: black;
    height: 1rem;
}
.ns{
    background-color: black;
    width: 99%;
    color: #ffff;
    padding: 0.5rem;
    height: 3rem;
	display: inline-block;
    align-items: center;
    font-size: 2rem;
    margin: 0%;
}
.icon{
    height: 20rem;
    margin: 1rem;
    display: flex;
    justify-items: center;
    align-items: center;
}
#icon, #icon2{
    width: 80%;
    padding: 0.2rem;
    border-radius: 1.5rem;
    background-color: black;
}
#icon2{
    width: 15%;
    margin: 0.5rem;
    margin-left: 1rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(97,1,1,1) 0%, rgba(255,0,0,1) 25%, rgba(255,0,0,1) 75%, rgba(97,1,1,1) 100%);
    background-size: cover;
    padding: 1rem;
    padding-right: 3rem;
}
.contacto{
    color: #ffff;
    background-color: rgb(0, 0, 0);
    width: 25%;
    height: 20rem;
    border-radius: 10px;
    margin-left: 25%;
    margin: 15px 15px;
    padding: 15px;
    left: 350px;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}
.objetivo{
    font-family: arial black;
    margin: 0.5rem;
    margin-left: 1rem;
}
hr{
    border-color: #ffff;
    border-width: 1px;
    width: 100%;
}
.imgf{
    width: 100%;
}