//"variables de colores"
$color_principal: rgb(255,0,0);
$color_degrade_header: linear-gradient(90deg, rgba(255,0,0,1) 2%, rgba(223,0,0,1) 25%, rgba(97,1,1,1) 93%);
$color_degrade_footer: linear-gradient(90deg, rgba(97,1,1,1) 0%, rgba(255,0,0,1) 25%, rgba(255,0,0,1) 75%, rgba(97,1,1,1) 100%);
$color_secundario:black;
$color_letras1: #ffff;