footer{
    background: $color_principal;
    background: $color_degrade_footer;
    padding: 1rem;
    padding-right: 3rem;
    border-radius: none;
    nav a,b,.p{
        color: $color_letras1;
        display: inline;
        align-items: center;
        font-size: 1.5rem;
        text-decoration: none; 
        padding: 0.3rem;
    }
    @media only screen and (max-width: 768px){
        .ulfooter{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        b{
            display: none;
        }
    }
}