.fondo__index{
    background-image: url("../img/imgfondo.jpg");
    height: 29rem;
    background-size: cover; 
    padding: 1rem;
    .titulo{
        width: 75%;
    }
}
.imgf{
    height: 29rem;
    background-size: cover;
    position: center;
}
.a_a{background-image: url('../img/aireacondicionado.jpg');}

.alba{background-image: url('../img/alba.jpg');}

.calefaccion{background-image: url('../img/calefaccion.jpg');}

.electricidad{background-image: url('../img/electricidad.jpg');}

.equipos{background-image: url('../img/equipos.jpg');}

.gasista{background-image: url('../img/gasista.jpg');}

.herreria{background-image: url('../img/hereria.jpg');}

.humedad{background-image: url('../img/humedad.jpg');}

.membranas{background-image: url('../img/membranas.jpg');}

.parquets{background-image: url('../img/parquet.jpg');}

.pintura{background-image: url('../img/pintureria.jpg')}

.pintureriaObra{background-image: url('../img/pinturadeobra.jpg')}

.plomeria{background-image: url('../img/plomería.jpg')}

.porcyceramic{background-image: url('../img/porcelanatoyceramica.jpg')}

.tanquesdeagua{background-image: url('../img/tanquesdeagua.jpg')}