.fondo__index{
    background-image: url("../img/imgfondo.jpg");
    height: 29rem;
    background-size: cover; 
    padding: 1rem;
    .titulo{
        width: 75%;
    }
}
.imgf{
    height: 29rem;
    background-size: cover;
    position: center;
}